<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--
  过滤器，对部分的请求进行处理之后再到serlvet
  -->
  <filter>
    <filter-name>ChineseFilter</filter-name>
    <filter-class>com.filter.ChineseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChineseFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <!--
          /index.jsp  / 文件名   只针对某一个请求
          *.jsp   某一类文件
          /*
       -->
  </filter-mapping>
</web-app>
