#a1 img{
    width: 103px;
    height: 32px;
}
#a1{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 250px;
    background-color: white;
}
#a1 div{
    position: relative;
    margin-left: 30px;
    font-size: 20px;
}
#a2{
    margin: auto;

    width: 1200px;
    height: 700px;
    background-color: white;
}
#a4{
    background-color: rgb(154, 154, 154, 0.24);
}
#a3{
    height: 100px;
    background-color: rgb(154, 154, 154 , 0.24);
}
td {
    text-align: center;
}
.big_count{
    text-align: right;
    width: 1100px;
    height: 30px;
}
.count-input{
    width: 50px;
}
table {
    background-color: white;

    width: 1200px;
    height: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    border-bottom: 1px solid black;
}
img {
    width: 500px;
    height: 200px;
}