div {
    /*vertical-align: top;!*改成行内块之后要往div里面添加内容使用本行代码进行对其，否则会发生偏移*!*/
}

.carousel-container {
    scroll-snap-type: x mandatory; /* 水平强制滚动定位 */
    overflow-x: auto;
    width: 100%;
}

.carousel-item {
    scroll-snap-align: start;
    width: 50%;
    display: inline-block
}

.menue {
    background-color: #73b055;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .menue {
    background-color: #3e8e41;
}

#mydiv:hover {
    box-shadow: blue 0px 0px 0px 10px;
}

.marked p {
    color: blue;
}

p.marked {
    color: green;
}
